@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 204, 93)
}

body {
  background-color: rgb(77, 77, 77);
}

header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(255, 204, 93);
  padding: 5px;
}

header h1 {
  font-family: "Fredoka One", sans-serif;
  font-size: 2.6em;
}

.logo {
  margin-right: 25px;
  width: 75px;
  height: 75px;
}

footer {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
}

.friends-list {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding: 10px;
  border: 2px solid rgb(255, 204, 93);
  width: 25%;
  align-items: center;
}

.friends-list h1 {
  text-decoration: underline;
}

.friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  padding: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chat-box-container {
  width: 35%;
  position: fixed;
  bottom: 50px;
  left: 32%;
  height: 140px;
  border: 1px solid rgb(255, 204, 93);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.chat-box {
  height: 100vh;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.chat-box button {
  width: 50px;
  border: none;
  padding: 2px;
  cursor: pointer;
  background-color: rgb(255, 204, 93);
  border-radius: 5px;
}

.chat-box textarea {
  height: 97px;
  font-size: 1.4em;
}

.send-button {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}